.tela{
    margin: 0;
}

.navbar{
    margin: 0;
    padding: 5px 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.options{
    display: flex;
}

.login{
    margin-left: 20px;
    margin-right: 20px;
}

h3{
    margin: 0;
}

.apresentacao{
    text-align: justify;
    padding: 5%;
}

.devs{
    padding-left: 5%;
}