*{
    background-image: url("./universe2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-weight: bold;
}

body, html{
    height: 100%;
}

body{
    margin: 0;
}

#root{
    min-width: 400px;
    max-width: 1920px;
    position: center;
}

.link{
    color: white;
}

div, h1, h2, p, .link, .tela, input, button,
form, .opcoes, th, table, thead, tbody, tr, td, select{
    background: transparent;
}


button, .opcoes{
    margin-top: 15px;
}

h1, h2{
    text-align: center;
    margin: 0;
}

.titulo-geral{
    font-size: 30px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.botao-adicionar-geral{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}