*{
    background: url("./universe2.jpg") no-repeat fixed;
    background-size: auto;
    color: #ffffff;
}

#root{
    min-width: 750px;;
}

.link{
    color: yellow;
}

div, h1, h2, p, .link, .tela, input, button,
form, .opcoes, th, table, thead, tbody, tr, td, select{
    background: transparent;
}

div, p, .link, .tela, input, button, .opcoes{
    font-size: large;
    font-weight: bold;
}

button, .opcoes{
    margin-top: 15px;
}

h1, h2{
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

table, td, tr, thead, tbody, th{
    border: 1px solid;
    box-sizing: border-box;
}

th{
    width: 15%;
}

.tabela-geral{
    margin-top: 20px!important;
}

.titulo-geral{
    font-size: 30px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.botao-adicionar-geral{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}